<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/app/app.module.js"></script>
    <script src="scripts/catModule/controllers/catController.js"></script>
</head>

<body ng-controller="CatClicker as vm">
    <h4>{{vm.message}} </h4>
    <div>
        <ul ng-repeat="catList in vm.catsList track by $index">
            <a href="#" data-ng-click="vm.displayCatData($index)">{{catList.catName}}</a>
        </ul>
        <div>
            <ul>
                <li ng-repeat="cat in vm.filterResult track by $index" class="clearfix float-my-children">
                    <img ng-src="{{cat.imageUrl}}" alt="Cat" ng-click="vm.getCatCount(cat.id)" class="singleCat">
                     <span ><img ng-src="{{vm.tick}}"  ng-show="{{vm.catResult.isViewed}}" class="tickStyle"></span>
                    <div>
                        <label class="label">Cat Name : {{cat.catName}}</label></br>
                        <label class="label">Count: {{cat.count}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>