<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/app/app.module.js"></script>
    <script src="scripts/catModule/controllers/catController.js"></script>
</head>

<body ng-controller="CatClicker as cc">
    <div>
        <h4>{{cc.message}} </h4>
        <ul>
            <li ng-repeat="cat in cc.catInfo track by $index">
                <a href="#" data-ng-click="cc.getCatInfo(cat)">{{cat.catName}}</a>
                <span><img ng-src="{{cc.tickImg}}"  ng-show="cat.isViewed" class="tickStyle"></span>
            </li>
        </ul>
        <div class="clearfix float-my-children" ng-if="cc.selectedCat">
            
            <img ng-src="{{cc.selectedCat.imageUrl}}" alt="Cat" class="singleCat">

            <label class="label">Cat Name : </label> {{cc.selectedCat.catName}} </br>

            <label class="label">Vote Count</label>
            <input id="voteCount" type="number" min="0" max="100" value="1" ng-model="cc.selectedCat.voteCount" ng-init="voteCount=0">

        </div>
    </div>
</body>

</html>