<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/app/app.module.js"></script>
    <script src="scripts/catModule/controllers/catController.js"></script>
</head>

<body ng-controller="CatClicker as cc">
    <div>
        <h4>{{cc.message}}</h4>
    </div>
    <div>
        <input type="search" ng-model="catName">
        <input type="button" value="Search" data-ng-click="cc.searchCatData(catName)">
    </div>
    <div>
        <h4>Sort List of Cat Names</h4>
        <select name="singleSelect" ng-model="sortBy" ng-change="cc.setOrder(sortBy)" class="selectOrder">
            <option value="">---Please select---</option>
            <option value="asc">Ascending</option>
            <option value="dsc">Descending</option>
        </select>
    </div>
    <div>
        <ul>

            <li ng-repeat="cat in cc.catInfo | orderBy: cc.order">
                <a href="#" data-ng-click="cc.getCatInfo(cat)">{{cat.catName}}</a>
            </li>
        </ul>
        <div class="clearfix float-my-children" ng-if="cc.selectedCat">
            <img ng-src="{{cc.selectedCat.imageUrl}}" alt="Cat" class="singleCat">
            <div>
                <label class="label">Cat Name :  </label>
                <label ng-bind="cc.selectedCat.catName"></label>
            </div>
        </div>
    </div>
</body>

</html>