<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/app/app.module.js"></script>
    <script src="scripts/catModule/controllers/catController.js"></script>
    <script src="scripts/catModule/controllers/isImageDirective.js"></script>
</head>

<body ng-controller="CatClicker as cc">
    <form name="catForm" ng-submit="cc.submit(cc.cat)" novalidate>
        <div>
            <h1> Add New Cat Details </h1>
        </div>
        <div>
            <label for="catName">Cat Name : </label>

            <input type="text" name="cName" ng-model="cc.cat.catName" placeholder="Enter Cat Name" required ng-minlength="1" ng-maxlength="20"
                pattern="[a-zA-Z ]*$" ng-pattern-restrict style="width: 250px" />

            <span ng-show="catForm.cName.$dirty && catForm.cName.$error.required">This is a required field</span>

            <span ng-show="!catForm.cName.$error.minLength && !catForm.cName.$error.maxLength 
            && catForm.cName.$error.pattern">
            Min = 1 and Max length =20, Enter only Alphabets</span>

            <br/> <br/>

            <label for="catURL">Enter URL: </label>
            <input name="cUrl" image-url-verify url="cc.cat.imageUrl" image-valid="imageOk" required style="width: 250px" />

            <span ng-show="catForm.cUrl.$dirty && catForm.cUrl.$error.required">This is a required field</span>
            <span ng-show="catForm.cUrl.$dirty && !imageOk
            && cc.cat.imageUrl != null">Enter Valid Image URL</span>
            <br/>
            <br/>

            <input type="reset" value='Reset' ng-click="cc.reset()" />
            <input type="submit" value='submit' ng-disabled="catForm.$invalid" />
        </div>
        <div ng-show="imageOk">
            <img ng-src="{{cc.cat.imageUrl}}" alt="Cat" class="singleCat">
        </div>
    </form>
</body>

</html>