<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="scripts/angular/angular.js"></script>
    <script src="scripts/app/app.module.js"></script>
    <script src="scripts/catModule/controllers/catController.js"></script>
    <script src="scripts/catModule/controllers/isImageDirective.js"></script>
</head>

<body ng-controller="CatClicker as cc">
    <form ng-submit="cc.submit()" name="catForm">
        <div>

            <label for="catName">Cat Name</label>
            <input type="text" name="cName" ng-model="cc.cat.catName" placeholder="Enter Cat Name" required ng-minlength="5" ng-maxlength="20"
                ng-pattern="/^[A-z][A-z0-9]*$/" />

            <span ng-show="catForm.cName.$dirty && catForm.cName.$error.required">This is a required field</span>

            <span ng-show="!catForm.cName.$error.minLength && !catForm.cName.$error.maxLength 
            && catForm.cName.$error.pattern && catForm.cName.$dirty">Must start with a letter, 
            and contain letters &amp; numbers only.</span>

            <br/>  <br/>
            <label for="catURL">Enter URL</label>
            <!--<input type="url" name="cUrl" ng-model="cc.cat.url" placeholder="Url" required  ng-change="cc.checkURL(cccat.url)"/>-->

            <input image-url-verify url="imageUrl" image-valid="imageOk" />

            <span style="color:red" ng-show="catForm.cUrl.$error.required">This is a required field</span>
            <span ng-show="catForm.cUrl.$error.url">enter a a valid url</span>
            <br/>
            <br/>
            <input type="reset" value='Reset' ng-disabled="catForm.$pristine" />
            <input type="submit" value='submit' ng-disabled="catForm.$invalid" />


        </div>
    </form>
</body>

</html>